

body {
	background-color: #282C34;
	color: #61DAFB;
}
#root {
	width: 100%;
}
main {
	width: 600px;
	margin: 40px auto;
}
header {
	width: 100%;
	background-color: #000;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0px;
	display: flex;
	justify-content: space-around;
}
.todo,
.todo-edit-from {
	display: flex;
	font-size: 1rem;
	border-top: 1px solid rgba(0,0,0, .1);
	background-color: #fff;
	user-select: none;
	padding: 1em;
	align-items: center;
	color: rgb(144, 144, 144);
}
.todo.completed * {
	color: lightgray;
	transition: color .2s;
}
.todo.completed .todo-title {
	text-decoration: line-through;
}
.todo .todo-title {
	margin-right: auto;
}

.todo .checkbox {
	margin-right: .5rem;
	display: block;
	width: 20px;
	height: 20px;
	border: none;
	background: transparent url(./img/checkbox.png) no-repeat center center;
	outline: none;
}
.todo .checkbox_comp {
	background: transparent url(./img/checkbox_compl.png) no-repeat center center;

}
.todo .checkbox:hover {
	cursor: pointer;
}
.arrow,
.pause,
.stop,
.todo-edit-from .save,
.todo .delete,
.todo .edit {
	cursor: pointer;
	margin-right: .5rem;
	display: block;
	width: 25px;
	height: 25px;
	border: none;
	outline: none;
	border-radius: 2px;
}
.todo .delete {
	background: transparent url(./img/cart.png) no-repeat center center;
}
.todo .edit {
	background: transparent url(./img/edit.png) no-repeat center center;
}
.todo-edit-from .save {
	background: transparent url(./img/diskette.png) no-repeat center center;
	margin-right: 0px;
}
.todo .delete:hover {
	cursor: pointer;
	background: rgb(231, 231, 231) url(./img/cart.png) no-repeat center center;
	border-radius: 50%;
}

.todo button:not(.checkbox) {
	opacity: 0;
	transition: all .2s;
}

.todo:hover button:not(checkbox) {
	opacity: 1;
}
.todo-edit-form {
	display: flex;
	font-size: 1rem;
	padding: .85em;
	border-top: 1px solid rgba(0,0,0, .1);
}

.todo-edit-form input {
	flex: 1;
}
.todo-form {
	display: flex;
	background-color: #fafafa;
	border-top: 1px solid rgba(0,0,0, .1);
}
.todo-edit-from input,
.todo-form input {
	flex: 1;
	outline: none;
	transition: all .2s;
	margin: 10px;
	padding: 5px;
	border: 1px solid #ccc;
}
.todo-edit-from input {
	margin: 0px;
}
.todo-form input:focus {
	border: 1px solid #00d8ff;
}
.todo-form button{
	border: none;
	outline: none;
	background-color: transparent;
	margin-left: 10px;
	color: rgb(128, 128, 128);
	cursor: pointer;
}

.stopwatch-time {
	font-size: 2rem;
}
.stopwatch-controls {
	display: flex;
	justify-content: space-around;
}

.stopwatch-controls button {
	margin: 0;
}
.stopwatch-controls{
	margin-top: 10px;
}
.pause {
	background: transparent url(./img/pause.png) no-repeat center center;
}
.stop {
	background: transparent url(./img/stop.png) no-repeat center center;
}
.arrow {
	background: transparent url(./img/play.png) no-repeat center center;
}

/* Animations */

.slide-enter {
	transform: translateX(-100%);
}

.slide-enter.slide-enter-active {
	transform: translateX(0);
	transition: all 0.5s
}

.slide-leave {
	transform: translateX(0);
}

.slide-leave.slide-leave-active {
	transform: translateX(100%);
	transition: all 0.5s
}
.slide-appear {
	opacity: 0;
}

.slide-appear.slide-appear-active {
	opacity: 1;
	transition: all 0.5s
}